{% extends 'mainPage.html' %}

{% block title %}Witaj W Panelu Rejestracyjnym{% endblock %}
{% block content %}
    <br/>
     <h1 class="display-1 text-dark chewy border"> myBooK</h1>
    <h1>Zarejestruj się</h1>
    <p>Aby utworzyć konto, proszę o wypełnienie poniższego formularza :</p>
    <button class="btn btn-secondary float-start "><a href="{% url 'login' %}">wstecz</a></button>
    <form class="text-capitalize container w-25 fw-normal border border-2" action="." method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input  class="btn  btn-secondary" type="submit" value="Utwórz Konto"></p>
    </form>
{% endblock %}