{% extends "mainPage.html" %}

{% block title %}
    Edytowanie Profilu
{% endblock %}

{% block content %}
    <div class="container">
        <div class="w-25 mt-3">
            <a href="{% url 'profile' object.pk %}"  class="btn btn-outline-secondary mt-2 "> Powrót do Profilu </a>
        </div>
        <h1 class="display-4 fw-normal"> Edytowanie Profilu </h1>
        <p class="text-secondary">Zmiana danych profilu jest możliwa za pomocą formularza znajdującego się poniżej:</p>

        <form  class=" p-2 d-flex row  float-end border border-2"   method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}


            <h4>Chcesz zmienić hasło?</h4>
            <a href="{% url "password_change" %}"><h6>Zmiana Hasła</h6></a>
            <input class="btn btn-secondary pb-3" type="submit" value="Zapisz">
        </form>
    </div>
{% endblock %}
