{% extends 'mainPage.html' %}

{% block title %}
    Profil {{ request.user.first_name }}
{% endblock %}


{% block content %}
    <div class="container ">
        <div class="row mt-4 justify-content-center ">
            <div class="card card-subtitle shadow-sm col-md-8 col-sm-12 border-bottom px-4 pt-4">
                <img alt="userProfileImg" src="{{ profile.profileAvatar.url }}"
                     class="rounded-circle" width="150px" height="150px" />

                {% if request.user.first_name %}
                    <p class="py-2 border-bottom">{{ request.user.first_name }}</p>
                {% endif %}

                {% if request.user.last_name %}
                    <p class="py-2 border-bottom">{{ request.user.last_name }}</p>
                {% endif %}

                {% if request.user.email %}
                    <p class="py-2 border-bottom">{{ request.user.email }}</p>
                {% endif %}

                {% if profile.biography %}
                    <p class="py-2 border-bottom">{{ profile.biography }}</p>
                {% endif %}

                {% if profile.birthDate %}
                    <p class="py-2 border-bottom">{{ profile.birthDate }}</p>
                {% endif %}

                {% if profile.currentLocation %}
                    <p class="py-2 border-bottom">{{ profile.currentLocation }}</p>
                {% endif %}

                {% if profile.countryOrigin %}
                    <p class="py-2 border-bottom">{{ profile.countryOrigin }}</p>
                {% endif %}

            </div>
        </div>

        {% for post in posts %}
            <div class="row justify-content-center  mt-5 ">
                <div class="col-md-6 border shadow-sm p-3 mb-5  rounded position-relative">
                    <p class="text-capitalize text-secondary">
                        <strong>{{ post.postAuthor }} </strong> - {{ post.postDate }}</p>
                    <p class="border  w-100  h-50 "> {{ post.postContent }} </p>
                    <a href ="{% url 'feed:detail-post' post.pk %}" class="stretched-link"> </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}