{% extends "mainPage.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Edytowanie Profilu
{% endblock %}

{% block content %}

    <div class="container">

        <h3 class="display-5 fw-normal"> Edytowanie Profilu </h3>
        <p class="text-secondary">Zmiana danych profilu jest możliwa za pomocą formularza znajdującego się poniżej:</p>

        <form class="card  mb-4 col-md-12" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="form-row card-text  border-3 border     ">
                <div class="   input-group  ">
                    <div class="mt-4   mx-4">
                        <div  class="mx-3"  style="height: 303px;width: 300px;">

                            <img alt="userProfileImg" src="{{ user.profile.profileAvatar.url }}"
                                 class="  mt-4  " style="height: 280px;width: 275px;"/>
                        </div>
                        <p>
                            {{ form.profileAvatar |as_crispy_field }}
                        </p>
                    </div>
                    <div class="   col-md-6 mx-auto mb-2 p-1">
                        {{ form.biography | as_crispy_field }}

                        <div class="col-md-6 col-12 float-start   p-1  ">

                            {{ form.instagram |as_crispy_field }}
                            {{ form.github |as_crispy_field }}
                            {{ form.snapchat |as_crispy_field }}
                            {{ form.twitter |as_crispy_field }}

                        </div>

                        <div class="col-md-6 mb-2 col-12 float-start  p-1  ">

                            {{ form.city |as_crispy_field }}
                            {{ form.countryOrigin |as_crispy_field }}
                            {{ form.birthDate | as_crispy_field }}

                            {{ form.facebook |as_crispy_field }}
                        </div>
                    </div>
                </div>



                <div class="mb-4 ">
                    <input name="save" class="btn btn-outline-success  w-25 fw-bold p-2 " type="submit" value="Zapisz">
                </div>
            </div>
        </form>

    </div>

{% endblock %}

