{% extends 'mainPage.html' %}

{% block title %}
    {{ request.user.first_name }}
    {{ request.user.last_name }}
{% endblock %}


{% block content %}

    <div class="container">
        <div class="   mt-4  ">
            <div class="row gutters-sm ">
                <div class="col-md-4 mb-3  ">
                    <div class="card shadow-sm  border border-3">
                        <div class="card-body    p-2">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img alt="userProfileImg" src="{{ getProfile.profileAvatar.url }}"
                                     class="rounded-circle mt-2 position-relative" width="100px" height="100px"/>

                                {% if request.user == getProfile.user %}
                                    <a class="link mt-2 " href="{% url 'profile_edit' getProfile.pk %}">
                                        <p class=" h6"> Edytuj Profil <i class="far fa-edit  link  "></i></p>
                                    </a>
                                {% endif %}

                                <div class="">
                                    <h5>{{ getUser.first_name }} {{ getUser.last_name }}</h5>
                                    {% if getProfile.biography %}
                                        <p class="text-muted  py-2  ">
                                            <em>{{ getProfile.biography }}</em>
                                        </p>
                                    {% endif %}
                                    <div class="p-2">
                                        {% if getUser == request.user %}
                                            <button class="btn  fw-bold p-2 btn-outline-primary disabled ">
                                                Obserwujący {{ getNumberFollowers }}
                                            </button>

                                            <button class="btn  fw-bold p-2 btn-outline-secondary disabled ">
                                                Obserwowani 1
                                            </button>

                                        {% else %}

                                            {% if is_follower %}
                                                <form method="post"
                                                      action="{% url 'user_unfollow' getProfile.pk %}">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger" type="submit">
                                                        Nie obserwuj
                                                    </button>
                                                </form>

                                            {% else %}

                                                <form method="post"
                                                      action="{% url 'user_follow' getProfile.pk %}">
                                                    {% csrf_token %}
                                                    <button class="btn btn-success" type="submit">
                                                        Obserwuj
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card  p-2 mt-3 border border-3 shadow-sm">
                        <ul class="list-group list-group-flush border">
                            <li class="list-group-item align-items-center d-flex justify-content-between flex-wrap ">
                                <h6 class=""><i class="fab fa-github"></i> Github</h6>
                                <span class="text-secondary"><a class="page-link border-0">  {{ getProfile.github }}</a>   </span>
                            </li>
                            <li class="list-group-item align-items-center d-flex justify-content-between flex-wrap ">
                                <h6 class=""><i class="fab fa-snapchat-ghost"></i> Snapchat</h6>
                                <span class="text-secondary"> <a
                                        class="page-link border-0">{{ getProfile.snapchat }} </a> </span>
                            </li>
                            <li class="list-group-item align-items-center d-flex justify-content-between flex-wrap ">
                                <h6 class=""><i class="fab fa-instagram"></i> Instagram</h6>
                                <span class="text-secondary"> <a
                                        class="page-link border-0"> {{ getProfile.instagram }}</a>  </span>
                            </li>
                            <li class="list-group-item align-items-center d-flex justify-content-between flex-wrap ">
                                <h6 class=""><i class="fab fa-facebook"></i> Facebook</h6>
                                <span class="text-secondary"> <a
                                        class="page-link border-0">{{ getProfile.facebook }}</a>  </span>
                            </li>
                            <li class="list-group-item align-items-center d-flex justify-content-between flex-wrap">
                                <h6 class=""><i class="fab fa-twitter"></i> Twitter</h6>
                                <span class="text-secondary"><a class="page-link border-0"> {{ getProfile.twitter }}</a>  </span>

                        </ul>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class="card mb-3 shadow-sm  border border-3">
                        <div class=" ">
                            <div class="row  ">
                                <div class="col-sm-3 text-end mt-3">
                                    <h6 class="m-0 ">Imie :</h6>
                                </div>
                                <div class="col-sm-9 mt-3 text-secondary">
                                    {% if getUser.first_name %}
                                        {{ getUser.first_name }}
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3 text-end ">
                                    <h6 class="m-0">Nazwisko :</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {% if getUser.last_name %}
                                        {{ getUser.last_name }}
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            {% if getProfile.birthDate %}


                                <div class="row">
                                    <div class="col-sm-3 text-end">
                                        <h6 class="m-0">Data Urodzin :</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">

                                        {{ getProfile.birthDate }}

                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                            {% if getProfile.city %}
                                <div class="row">
                                    <div class=" col-sm-3 text-end">
                                        <h6 class="m-0"> Miejscowość :</h6>
                                    </div>
                                    <div class=" col-sm-9 text-secondary">
                                        {{ getProfile.city }}
                                    </div>
                                </div>

                                <hr>
                            {% endif %}
                            {% if getProfile.countryOrigin %}
                                <div class="row">
                                    <div class="col-sm-3 mb-3 text-end">

                                        <h6 class="m-0"> Kraj Pochodzenia :</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">

                                        {{ getProfile.countryOrigin }}

                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="col-md-12">

                        <div class="card mb-3 border border-3">

                            <div class="card-body">
                            <h6 class="  card-header card-header-tabs link-dark mb-3 fw-bold">Obserwujący
                                            ({{ getNumberFollowers }})
                                        </h6>
                                <div class="row">
                                    <div class="mx-auto col-sm-11  overflow-auto " style="height: 240px">



                                        {% for follower in followersList %}
                                            <div class=" float-start  card mx-2  mt-4 page-link  text-capitalize template float-start"
                                                 style="height: 65px;width: 222px">
                                                <img alt="userProfileImg" src="{{  follower.profile.profileAvatar.url }}"
                                                     class="rounded-circle mt-2 position-relative" width="40px"
                                                     height="40px"/>
                                                <a class=" text-primary "
                                                   href="{% url 'userProfile' follower.profile.pk %}">
                                                    {{ follower.get_full_name }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5  ">
        {% for post in getPosts %}
            <div class="col-md-6  shadow-sm     p-1 mx-auto card
                    " style="min-height:150px; max-height:555px">

                <p class="card-header bg-white">
                    <a href="{% url 'userProfile' post.postAuthor.profile.pk %}">
                        <strong class="text-primary"> <i class="fas fa-user text-dark"></i>
                            {{ post.postAuthor.get_full_name }} </strong></a> -
                    <em class="text-secondary "> {{ post.postDate }} </em>
                </p>
                <div class="    text-start p-1 position-relative"
                     style="min-height:150px; max-height:899px;">

                    {{ post.postContent }}
                    <a href="{% url 'feed:detail-post' post.pk %}" class="stretched-link"> </a>
                </div>
            </div>

            {% with allLikes=post.postLikes.count %}
                <button class=" disabled fw-bold btn bg-white  col-md-6 text-danger">
                    <i class="fas fa-heart"></i> {{ allLikes }}
                </button>
            {% endwith %}
        {% endfor %}
    </div>
    <footer class="bs-popover-bottom">
        <p class=" font-italic fw-light"><em> © 2020-2021 myBooK Dominik Czarnecki</em></p>
    </footer>
{% endblock %}