{% extends "mainPage.html" %}
{% block title %}
    Tablica
{% endblock %}


{% block content %}

    <div class="container ">

        <h3 class=" mx-auto display-5">Inni Użytkownicy</h3>


        <div class="col-md-9  mt-3  mx-auto  ">
            {% for user in users %}
                <div class="card-group  float-start p-2"  >
                    <div class="row">
                        <div class="  ">
                            <div class="card " style="width: 222px; height:285px;">
                                <img alt="userProfileImg" src="{{ user.profile.profileAvatar.url }}"
                                     class="rounded-circle mt-3 mx-auto" width="125px" height="125px"/>
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class=" h6 ">
                                            <a class="text-secondary  text-capitalize"
                                               href="{% url 'userProfile' user.profile.pk %}">
                                                {% if user.first_name %}
                                                    {{ user.first_name }}
                                                {% endif %}
                                                {% if user.last_name %}
                                                    {{ user.last_name }}
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                <p class="card-text">
                                    {% if user.profile.countryOrigin %}
                                        <p><strong  >Kraj pochodzenia:</strong> {{ user.profile.countryOrigin }}
                                        </p>
                                    {% endif %}
                                </p>
                                </div>

                                <button class=" btn btn-primary disabled fw-bold">Liczba
                                    Obserwujacych: {{ user.profile.friends.all.count }}</button>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
