{% load static %}
<!doctype html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>{% block title %} {% endblock %} </title>

  </head>
  <body>
    {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %} class="selected"{% endif %}>
                    <a href="{% url "dashboard" %}">Tablica </a>
                </li>
                <li {% if section == "zdjecia" %}class="selected"{% endif %}>
                    <a href="#">Zdjęcia</a>
                </li>
                <li {% if section == "ziomki" %}class="selected"{% endif %}>
                    <a href="#">Ziomki</a>
                </li>
                <li {% if section == "Edycja" %}class="selected"{% endif %}>
                    <a href="{% url "edycja" %}">Edycja</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Witaj,  {{ request.user.first_name }}!
                    <li {% if section == "logout" %}
                        class="selected"{% endif %}>
                        <a href="{% url "logout" %}">Wyloguj </a>
                    </li>
                 {% else %}
                    <li id="userlogout"
                            {% if section == "login" %}
                            class="selected"{% endif %}>
                        <a href="{% url "login" %}">POWRÓT DO LOGOWANIA</a>

                    </li>
            {% endif %}
        </span>

    <div id="content">
        {% block content %}
            <i class="far fa-arrow-alt-circle-left"></i>
        {% endblock %}
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


  </body>
</html>

