body
{
    margin: 0;
    padding: 0;
    font-size: 15px;
    background: #f8f9fa ;

    color: #212529
}
/* PSEUDO-KLASY  HIPERLACZA */
a:link
{
    color: #993300;
    text-decoration:none;
    font-weight: bold;
}
a:visited
{
     color: #6DDCBD;
    text-decoration:none;
    font-weight: bold;
}

a:focus
{
    text-decoration: underline;
    color: indianred;
    font-weight: bold;
}

a:hover
{
    color: chartreuse;
    font-weight: bold;
}

/* ZNACZNIKI GLOBALNE */



 ol, ul, dl {
    margin: 0;
    float:left;
}

ol,ul
{
    float:left;
}

ul li {
    padding: 12px;
    float: left;
    margin-left: 20%;
    list-style-type: none;
    line-height: 22px;
    font-size: 20px;
    text-align: center;

}

li,ul
{

   margin-bottom: 0;


}




h1,h2,h3
{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

form
{

}


/* LOGOWANIE -login */

.formularz-logowanie
{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .1), 0 11px 18px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 130px 525px 0;
    padding: 22px 0 29px;
    width: 350px;
    height: 270px;

}



/*EDYCJA obszaru text oraz haslo*/
input[type=text],
input[type=password]
{

    background: none;
    display: block;
    margin-right: 25px;
    margin-top: 6px;
    text-align: center;
    border: 2px solid sandybrown;
    padding: 14px 10px;
    width: 280px;
    outline: none;
    color: #A42626;
    border-radius: 7px;
    float:right;
    position: center;
    cursor: text;

}

input[type=text]:focus,
input[type=password]:focus
{

    border: 3px solid #eec9c9;
    background-color: #edcaca;
    color: lightslategray ;
    font-weight: bold;


}
/* ############ EDYCJA PRZYCISKU SUBMIT############## */
input[type=submit] {
    width: 125px;
    background-color: #c34f4f;
    font-size: 22px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    letter-spacing: 2px;
    border: none;
    transition: 0.25s;
    border-radius: 5px;
    margin-top: 44px;
    position: fixed;
    display: block;
    margin-left: 120px;
}


/* STRONA GLOWNA - base */

.user
{

    font-size: 17px;
    padding: 26px;
    background: sandybrown;
    margin-top:10px;





}

.menu
{
    margin-left: 11px;
    background: #5b80b2;
    width: 80%;


}




/* BUDOWANIE STRONY */

#container {

    width: 100%;
    padding: 0;
    min-width: 990px;
    position: relative;
}

#content {
    padding: 40px 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


.login #content
{
    margin-left: auto;
    margin-right: auto;
}
.dashboard #content {
    width: 600px;
}

#content-main {
    float: left;
    width: 100%;
}

#content-related {
    float: right;
    width: 260px;
    position: relative;
    margin-right: -300px;
}

#footer {
    clear: both;
    padding: 10px;
}

