{% extends "mainPage.html" %}

{% block title %}
    Wylogowano
{% endblock %}

{% block content %}
     <div class="letter-spacing ">
        <div class="mt-5 " >
           <p class="card">Zostałeś Wylogowany,
                aby zalogować się ponownie kliknij <a href="{% url "login" %}"> <i class="fas fa-sign-in-alt"></i> ZALOGUJ </a>
            </p>
         <h1 class="display-4 fw-bold  ">ZAJRZYJ TU PONOWNIE !  <i class="far fa-smile-beam"></i></h1>
        </div>
    </div>
    <h1 class="display-2 text-dark chewy  fixed-bottom"> myBooK</h1>
{% endblock %}