{% extends "mainPage.html" %}

{% block title %}
    Resetowanie Hasla
{% endblock %}


{% block content %}
    <div class="container">
        <div class="w-25 mt-1">
            <a href="{% url 'login' %}"  class="btn btn-outline-secondary mt-2 "> Powrót do Logowania </a>
        </div>
        <h1 class="display-3">Procedura zerowania hasła </h1>
        <div class="d-flex justify-content-center ">
            <div class="  w-50  mt-2 card  p-1">
                <p>Procedura zmiana hasła powiodła się. </p>
                 <a href="{% url "login" %}">Zaloguj się</a>
            </div>
        </div>
        <h1 class="display-2 text-dark chewy  fixed-bottom"> myBooK</h1>
    </div>
{% endblock %}