{% extends "mainPage.html" %}

{% block title %}
    Formularz Resetowania Hasła
{% endblock %}

{% block content %}
    <div class="container">
        <div class="w-25 mt-1">
            <a href="{% url 'login' %}" class="btn btn-outline-secondary mt-2 "> Powrót do Logowania </a>
        </div>
        <h1 class="display-3 mt-3">Resetowanie Hasła</h1>
        <div class="d-flex justify-content-center  mt-4   ">
            <form method="post" class="card p-4">
                <div class="card-header ">
                    <p class="h5 ">Proszę o wpisanie adresu mailowego</p>
                </div>
                <div class="card-body">
                    <div class="mt-3">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button class="btn w-100 btn-outline-success  fw-bold">Prześlij</button>
                </div>
            </form>
        </div>
    </div>
    <h1 class="display-2 text-dark chewy  fixed-bottom"> myBooK</h1>
{% endblock %}