{% extends "mainPage.html" %}

{% block title %}
    Zmiana Hasla
{% endblock %}

{% block content %}
    <div>
        <br/>
        <h1 class="display-4 fw-bold">Zmiana Hasła</h1>
        <h2 class="text-secondary">Aby zmienić  hasło postępuj zgodnie z poniższą instrukcją
            {% if request.user.is_authenticated %}
                 {{ request.user.first_name }} .
            {% endif %}
        </h2>
        <div>
            <form class=" text-capitalize container w-50 fw-normal border border-2">
                <br/>
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Zmień Hasło"></p>
            </form>
        </div>
    </div>
{% endblock %}