{% extends "mainPage.html" %}

{% block title %}
    Zmiana Hasla
{% endblock %}

{% block content %}
    <div id="passchange">
        <br/>
        <h1>Zmiana Hasła</h1>
        <h2>Aby zmienić  hasło postępuj zgodnie z poniższą instrukcją
            {% if request.user.is_authenticated %}
                 {{ request.user.first_name }} .
            {% endif %}
        </h2>
        <div>
            <form class=" text-capitalize text-secondary align-content-center form-control w-50  align-items-center   ">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Zmień Hasło"></p>
            </form>
        </div>
    </div>
{% endblock %}