{% extends 'mainPage.html' %}
{% block title %}
    Resetowanie Hasla
{% endblock %}

{% block content %}
    <h1></h1>


    <div class="container">
        <h1 class="display-3">Resetowanie Hasła</h1>

        <p class="h5 mt-3">Proszę o wpisanie nowego hasła. </p>
        <div class="ustify-content-center  mt-4   ">
             Przesłaliśmy Ci instrukcję na podany mail
                w celu wyznaczenia nowego hasła.
                 Użytkowniku, jeżeli nie dostałeś takiej wiadomości,
                proszę o sprawdzenie poprawności maila wpisywanego przy tworzenia konta.

            <h5> myBooK</h5>
        </div>
    </div>
{% endblock %}