{% extends "mainPage.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    Zmiana Hasla
{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-12">
            <h1 class=" mx-auto col-md-4 fw-bold  card-header ">Zmiana Hasła</h1>
            <div class="h6 col-md-4 card   text-primary mx-auto  ">
                Aby zmienić hasło postępuj zgodnie z poniższą instrukcją
                {% if request.user.is_authenticated %}
                    {{ request.user.first_name }} .
                {% endif %}

            </div>
            <form class="mx-auto  col-md-4 card p-3">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-danger ">Zmień Hasło</button>
            </form>

        </div>
    </div>
{% endblock %}