{% extends "mainPage.html" %}
{% load crispy_forms_filters %}
{% block title %}
    Resetowanie Hasla
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-3">Panel Resetowania Hasła</h1>
        {% if validlink %}
            <p class="mt-2 h5">Proszę o wpisanie nowego hasła. </p>
            <div class="d-flex justify-content-center   mt-5   ">
            <form method="post" class="card p-3">
                {{ form | crispy }}
                {% csrf_token %}
                <button class="btn btn-lg   fw-normal btn-success " type="submit"> Zmień Hasło</button>
            </form>
        {% else %}
            <p>Niestety nie możesz zmienić hasła, zapewne użyłeś wcześniej funkcji resetowania.
                Proces resetowania hasła musi zostać powtórzony. </p>
        {% endif %}
        </div>
    </div>
{% endblock %}