{% extends "mainPage.html" %}
{% block title %}
    Logowanie
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Login lub hasło jest nieprawidłowe. Spróbuj ponownie. </p>
    {% endif %}
    <br/>
    <h1 class="display-1 text-dark chewy border   border"> myBooK</h1>
    <div class="formularz-logowanie center">
        <h1 class="mb-4">Zaloguj sie</h1>
        <form action="{% url 'login' %}" method="post">
            <p>Nie masz konta?<a href="{% url 'register' %}"> Zarejestruj się </a></p>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="kolejny" value="{{ next }}" />
            <p><a href="{% url 'password_reset' %}">  Zapomniałeś hasła?</a></p>

            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Zapamietaj mnie
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-danger fw-normal"  type="submit" value="zaloguj">Zaloguj sie </button>
        </form>
     <p class="mt-3 mb-3 text-muted">&copy; 2020-2021 Kozak</p>
    </div>
{% endblock %}


