body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #212529;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/13/21/46/sheep-1822137_960_720.jpg");
    background-size: cover;
}

/* PSEUDO-KLASY  HIPERLACZA */

a:link {
    color: #993300;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #6DDCBD;
    text-decoration: none;
    font-weight: bold;
}

.chewy {
    font-family: 'Chewy', cursive;
}