body
{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #212529;

}
/* custom font for logo */
.chewy
{
    font-family: 'Chewy', cursive;



}

/* latin */
@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/chewy/v12/uK_94ruUb-k-wn52KjI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#header {
    width: auto;
    padding: 2px 4px;
    line-height: 23px;
    color: floralwhite;

}
/* PSEUDO-KLASY  HIPERLACZA */

a:link
{
    text-decoration:none;
    font-weight: bold;
}

a:visited
{
    color: #39393A;
    text-decoration:none;
    font-weight: bold;


}

a:focus
{
    font-weight: bold;
    color: #7D7461;

}

a:hover
{
    font-weight: bold;

}

/* ZNACZNIKI GLOBALNE */



li,ul {

    list-style-type: none;

}






/* LOGOWANIE -login */

.formularz-logowanie {

    margin: auto;
    width: 50%;
    height: 50%;
    min-width: 250px;
    max-width: 500px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}






 #post
 {

 }

