{% extends "base.html" %}

{% block title %}
    Zaloguj się
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Login lub hasło jest nieprawidłowe. Spróbuj ponownie. </p>
    {% endif %}
    <div class ="logo">
        myBooK
    </div>
    <div class="formularz-logowanie">
        <form action="{% url 'login' %}" method="post">
            <p><a href="{% url "password_reset" %}">  Zapomniałeś hasła?</a></p>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input  id="submit" type="submit" value="Zaloguj"></p>
        </form>
    </div>
{% endblock %}