{% extends "homePage.html" %}

{% block title %} Zmiana Hasla {% endblock %}

{% block content %}
    <div id="passchange">
        <h1>Zmiana Hasła</h1>

        <h2>Aby zmienić  hasło postępuj zgodnie z poniższą instrukcją
            {% if request.user.is_authenticated %}
                 {{ request.user.first_name }} .
            {% endif %}
        </h2>
        <form id="passbut" action="" method="post">
            {{ form.as_p }}
            <p><input type="submit" value="Zmień Hasło"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}