{% extends "stronaGlowna.html" %}

{% block title %}
    Resetowanie Hasla
{% endblock %}

{% block content %}
    <h1>Resetowanie Hasła</h1>
    {% if validlink %}
    <p>Proszę o wpisanie nowego hasła oraz powtórzenie.</p>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Zmień Hasło"></p>
    </form>
    {% else %}
        <p>Niestety nie możesz zmienić hasła, zapewne użyłeś wcześniej funkcji resetowania.
            Proces resetowania hasła musi zostać powtórzony. </p>
    {% endif %}
{% endblock %}