{% extends "mainPage.html" %}
{% block title %}
    Tablica
{% endblock %}

{% block content %}
    <br/>
    <p class="text-center display-6 ">Miło widzieć Cię tu ponownie! :-)</p>
     <h1>Panel główny</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin odio nec risus tempus ultrices.
        Fusce quis elit a lectus laoreet vehicula. In efficitur quam nec libero volutpat, in dapibus leo mattis.
        Cras feugiat eros leo, sit amet aliquet risus porttitor vel. Suspendisse potenti. Aenean in mattis ex.
        Pellentesque congue tempor lorem quis sagittis. Donec vestibulum ipsum sed orci viverra vehicula.
        Quisque sed tortor venenatis, pellentesque ligula nec, auctor erat. Sed tincidunt justo magna, et mattis nulla malesuada vitae.
        Quisque sed sem mauris. Cras nec sapien sit amet libero sodales suscipit. Donec suscipit feugiat ipsum nec gravida.

        Integer ac tortor vestibulum, fringilla nibh eu, dictum risus. Mauris ornare convallis euismod.
        Ut suscipit massa vel risus euismod hendrerit. In vel odio eros. Maecenas a dolor vitae metus tristique venenatis.
        Aliquam facilisis, lacus ullamcorper egestas aliquam, magna orci varius tellus, quis placerat neque arcu vitae lorem.
        Donec nec libero odio. Vestibulum aliquet arcu a hendrerit mattis. Suspendisse scelerisque tortor ut elementum commodo.
        Suspendisse potenti. Maecenas neque quam, condimentum ut nulla et, tincidunt condimentum lectus.
    Aliquam diam augue, suscipit placerat tempor eu, egestas eget leo. Morbi a libero massa. Praesent a dui orci. Nullam congue consequat mollis. Nam eget facilisis nulla. In eleifend enim ac aliquet lobortis. Morbi tempus, quam quis dictum porta, lectus tellus condimentum nisi, vel suscipit arcu lacus id nunc. Curabitur sodales interdum orci, eget luctus magna semper vel. Ut molestie tincidunt tortor et volutpat. Nullam imperdiet rhoncus nunc, sed aliquet urna mollis quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur bibendum condimentum purus, ac finibus augue vehicula porttitor.

Suspendisse viverra mi eu nisl congue, quis ullamcorper massa commodo. Suspendisse vitae justo cursus, ultricies sapien ac, lobortis arcu.
        Sed sollicitudin imperdiet odio id varius. Proin sed tellus commodo, lacinia purus ac, fermentum libero.
        Nulla accumsan interdum dui, at tempor elit. Donec iaculis sit amet dui ac molestie.
        Pellentesque mollis porttitor ante ut fringilla. Sed lacus massa, accumsan sed metus at, ullamcorper porta lectus.
        Fusce dapibus, magna et lacinia eleifend, leo arcu tincidunt diam, nec facilisis ex quam eget neque.
        Curabitur quis mollis mi, quis eleifend tellus. Etiam in sapien quam.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Sed vulputate nunc ex, non consectetur odio imperdiet vitae.
        Nulla arcu lorem, maximus vel laoreet eu, lobortis quis sem.
        Integer vehicula vehicula dolor, quis aliquam augue tristique vitae.
        Fusce non mauris non lorem eleifend ornare at quis quam.

Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Pellentesque sodales neque a sodales fringilla.
        Integer ultrices enim sit amet tellus pretium, quis congue risus varius. Nam quis sapien id tellus fringilla egestas.
        Suspendisse dapibus odio in ante semper, eget aliquet lacus mattis.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Praesent rhoncus, enim ut egestas bibendum, sapien diam venenatis odio, at fermentum metus augue non augue.
        Aenean vitae lorem id ante ultricies sodales. Aliquam fermentum quis ipsum sed porta. Nunc semper risus ut aliquet interdum.
        Maecenas fermentum faucibus enim, eget rhoncus dolor mollis vitae. Aenean pretium diam eu ipsum facilisis fringilla.
        Nam mattis ante sed est placerat, ac ornare enim faucibus. Donec accumsan enim ut enim consequat, ac aliquet arcu ultricies.
        Nam accumsan malesuada purus in feugiat.
        Donec accumsan neque at sem ornare bibendum.</p>

{% endblock %}


