{% load static %}
<!doctype html>
<html lang="pl">
<head>
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>
        {% block title %}
            mainPage
        {% endblock %}

    </title>
</head>
<body class="text-center">
  {% if request.user.is_authenticated %}
      <nav class="navbar sticky-top navbar-expand navbar-dark bg-dark text-decoration-none ">
      <a class="navbar-brand p-1 text-decoration-none" href="{% url 'feed:post-list' %}"><h3 class="chewy">myBooK</h3></a>
          <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav me-auto">
                  <li >
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'feed:post-list' %}">Home </a>
                  </li>
                  <li >
                      <a class="nav-link" href="#">Znajomi</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#"
                         role="button" data-bs-toggle="dropdown" aria-expanded="false">Profil
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="{% url "myprofile" %}">Pokaz Profil</a></li>
                          <li><a class="dropdown-item" href="{% url "edycja" %} ">Edytuj Profil</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Pozycja3</a></li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Ustawienia</a>
                  </li>
              </ul>
            </div>
  {% endif %}

    {% if request.user.is_authenticated %}

      <div class="nav-item text-light float-end w-25">
          Witaj, {{ request.user.first_name }}!
          <div class="float-end w-25">
              <a href="{% url 'wyloguj' %}">Wyloguj</a>
          </div>
      </div>

  {% endif %}
   </nav>

  <div class="container">
      {% block content %}
      {% endblock %}
  </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <footer class="bg-light text-center text-lg-start">
        <div class="text-center  p-4" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright: Dominik CZ

        </div>

    </footer>
</body>
</html>

