{% extends "mainPage.html" %}
{% block title %}
    Tablica
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="d-flex row justify-content-center">
            <div class=" card bg-transparent  w-50">
                <div class="row ">
                    <h1 class="display-5 fw-bold card-header ">Utwórz post</h1>
                    <form class=" card-body  fw-normal shadow-sm p-2    mt-4 w-75"  method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="  btn btn-bg fw-bold  btn-outline-secondary  p-3 mb-3  rounded">Dodaj Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% for post in allPosts %}
            <div class="d-flex row justify-content-center   mt-5 ">
                <div class=" col-md-6  shadow-sm  mb-5 card
                rounded "  style="min-height:190px; max-height:899px;" >
                    <div class="card-body align-content-start ">
                        <p class=""><a class="text-decoration-none text-capitalize text-secondary border-bottom card-header" href="{% url 'profile' post.postAuthor.profile.pk  %}">
                             <strong>{{ post.postAuthor }} </strong> - {{ post.postDate }} </a>
                        </p>
                    <div class="border text-start p-2 position-relative" style="min-height:105px; max-height:899px;">
                         {{ post.postContent }}
                        <a href ="{% url 'feed:detail-post' post.pk %}" class="stretched-link"> </a>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
