{% extends "mainPage.html" %}

{% block title %}
    Tablica
{% endblock %}


{% block content %}

    <div class="container ">


        {% for post in allPosts %}

            <div class="col-md-5   shadow  mx-auto card
                    overflow-hidden" style="min-height:150px; max-height:500px">

                <div class="card-header border-0   bg-white">

                    <a href="{% url 'userProfile' post.postAuthor.profile.pk %}">
                        <strong class="link-primary">
                            {{ post.postAuthor.get_full_name }} </strong></a> -
                    <em class="text-secondary "> {{ post.postDate }} </em>
                    {% if request.user == post.postAuthor %}
                        <button type="button" class=" btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu ">
                            <li>
                                <a class="dropdown-item   link-success" href="{% url 'feed:update-post' post.pk %}">
                                    <i class="far fa-edit "></i> Edit</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item  link-danger"
                                   href="{% url 'feed:delete-post' post.pk %}">
                                    <i class="fas fa-trash-alt    "></i> Delete</a>
                            </li>
                        </ul>

                    {% endif %}
                </div>
                <div class="img-thumbnail position-relative">
                    <div class=" card rounded border-0  text-start  "
                         style="min-height:150px; max-height:599px;">
                        {{ post.postContent }}

                        {% if post.postImages %}
                            <img src="{{ post.postImages.url }}" alt="img">
                        {% endif %}
                    </div>
                    <a href="{% url 'feed:detail-post' post.pk %}" class="stretched-link"> </a>
                </div>
            </div>


            {% with allLikes=post.postLikes.count %}
                <button class=" disabled fw-bold btn bg-white  border  col-md-5 col-12  text-danger">
                    <i class="fas fa-heart"></i> {{ allLikes }}
                </button>
            {% endwith %}



        {% endfor %}


    </div>
    <footer class="bs-popover-bottom">
        <p class=" font-italic fw-light"><em> © 2020-2021 myBooK Dominik Czarnecki</em></p>
    </footer>
{% endblock %}
