{% extends "mainPage.html" %}
{% block title %}
    Edycja Postu
{% endblock %}


{% block content %}
    <div class="container ">
        <div class=" ">
            <div class=" ">
                <div class=" ">
                    <a href="{% url 'feed:detailPost' object.pk %}"  class=" btn btn-secondary mt-2 "> Powrót do Postu</a>
                </div>
            </div>
        </div>

         <div class="">
            <form  method="post">
                <h4 class="display-2">Czy jesteś pewien?</h4>
                {% csrf_token %}
                <p>Usuniętego komentarza nie mozna przywrócić. </p>
                <button class="btn btn-danger" >Potwierdz</button>
                <br/><br/>
            </form>
        </div>
    </div>
{% endblock %}