{% extends "mainPage.html" %}
{% block title %}
    Podgląd Postu
{% endblock %}

{% block content %}


    <div class="container ">
    <div class="w-25 mt-3">
        <a href="{% url 'feed:followers-posts' %}" class="btn btn-outline-secondary mt-2 "> Powrót </a>
    </div>
    <div class=" col-md-12  mt-3  ">

        {% if post.postImages %}
            <div class="card border container-fluid  row  float-end  col-md-4  bg-white   ">
                <div class="  text-start float-end  mt-3 ">
                    <p class=" overflow-auto  mt-4 border p-1 rounded " style="height: 343px">
                        {{ post.postContent }}
                    </p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="m-3">
                        <button class="btn btn-outline-success fw-bold ">Dodaj Komentarz</button>
                    </div>
                </form>
            </div>
            </div>
            <div class="border-bottom   bg-light border col-md-8  ">
        {% else %}
            <div class="border-bottom   bg-light border col-md-7  mx-auto">

        {% endif %}

    {% if request.user == post.postAuthor %}

        <div>
    {% else %}
        <div class="  p-2">
    {% endif %}


<a class="text-decoration-none fw-bold   text-capitalize text-secondary "
   href="{% url 'userProfile' post.postAuthor.profile.pk %}">
    <strong class="link-primary">
        {{ post.postAuthor.get_full_name }} </strong></a> <em
        class="text-secondary fw-light"> {{ post.postDate }}</em>

{% if request.user == post.postAuthor %}
    <button type="button" class=" btn" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-ellipsis-h"></i>
    </button>
    <ul class="dropdown-menu ">
        <li>
            <a class="dropdown-item   link-success" href="{% url 'feed:update-post' post.pk %}">
                <i class="far fa-edit "></i> Edit</a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item  link-danger"
               href="{% url 'feed:delete-post' post.pk %}">
                <i class="fas fa-trash-alt    "></i> Delete</a>
        </li>
    </ul>

{% endif %}

</div>

<div class=" card mx-auto  text-start     " style="min-height:150px; max-height:488px;    ">
    {% if post.postImages %}

        <div class="container-fluid     img-fluid card border-0 mx-auto  justify-content-center" style="height: 485px; width:auto   ">

        {% load thumbnail %}
        {% thumbnail post.postImages "885x465" as im %}
            <a href="{{ post.postImages.url }}" class="mx-auto border-0">
                <img src="{{ im.url }}" alt="img" class="  text-center img-fluid img-thumbnail card-img  ">
            </a>
        {% endthumbnail %}
    {% else %}
        <div class=" card bg-white border-0    text-start    " style="min-height:150px; max-height:488px;">
        <p class="p-1  ">
            {{ post.postContent }}
        </p>
    {% endif %}

    </div>

    </div>
    <div class="mx-auto col-md-11 p-2 ">
        <div class="col-md-5 float-start overflow-auto" style="height: 35px;width: 100px">
            {% for user in post.postLikes.all %}
                <a class=" " href="{% url 'userProfile' user.profile.pk %}">
                    <strong class=" link-primary">
                        {{ user.username }}
                    </strong>
                </a>

            {% endfor %}
        </div>
        <div>
            {% include 'feed/likes-container.html' %}
        </div>
    </div>
</div>
</div>




    {% if post.postImages %}
        <div class=" row mb-4 mt-3 ">
    {% else %}
        <div class=" row mb-4 mt-4 ">
        <form method="post" class=" mx-auto col-md-3">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mb-2">
                <button class="btn btn-outline-success fw-bold mt-2 ">Dodaj Komentarz</button>
            </div>
        </form>
    {% endif %}
    <div class=" h5 d-flex justify-content-center  mt-2 mb-3">
        <div class="buttons ">
                    <span class="badge bg-white d-flex flex-row align-items-center">
                        <span class="link-primary mx-2">
                            <h5>Komentarze (
                                {% with allComments=comments.count %}
                                    {{ allComments }}
                                {% endwith %})

                            </h5>

                        </span>
                        <div class="form-check form-switch collapsed">
                            <label for="flexSwitchCheckChecked"></label>
                            <input class="form-check-input"
                                   data-toggle="collapse" type="checkbox"
                                   id="flexSwitchCheckChecked"
                                   data-target="#comments" data-bs-toggle="collapse"
                                   data-bs-target="#comments"
                                   aria-expanded="false"
                                   aria-controls="comments" checked>
                        </div>
                    </span>
        </div>
    </div>
    <div class=" ">
        <div class="accordion-item  ">

            <div id="comments" class="accordion-collapse border-0 collapse" aria-labelledby="flexSwitchCheckChecked"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body  ">
                    {% for comment in comments %}
                        <div class="col-md-5 mx-auto over ">
                            <div class="card p-3 mt-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="user-select-auto  align-items-center">
                                        <img alt="userProfileImg"
                                             src="{{ comment.commentAuthor.profile.profileAvatar.url }}"
                                             class="   rounded-circle  mx-auto"
                                             width="44px"
                                             height="44px"/>
                                        <small class=" text-primary">
                                            <a class="h6 text-decoration-none fw-normal text-capitalize mx-2"
                                               href="{% url 'userProfile' comment.commentAuthor.profile.pk %}">
                                                <strong class=" link-primary">
                                                    {{ comment.commentAuthor.get_full_name }}
                                                </strong>
                                            </a>
                                        </small>
                                        {{ comment.commentContent }}
                                    </div>
                                    <small class="fw-light text-end  text-secondary"> {{ comment.commentDate }}</small>
                                </div>
                                <div class=" mx-5 text-start text-secondary">
                                    {% if request.user == post.postAuthor  and comment.commentAuthor %}
                                        <a href="{% url 'feed:delete-comment' post.pk comment.pk %}">
                                            <p class="link-danger > px-3  ">delete</p>
                                        </a>
                                    {% else %}
                                        {% if request.user == post.postAuthor %}
                                            <a href="{% url 'feed:delete-comment' post.pk comment.pk %}">
                                                <p class="link-danger > px-3  ">delete</p>
                                            </a>
                                        {% endif %}
                                        {% if request.user == comment.commentAuthor %}
                                            <a href="{% url 'feed:delete-comment' post.pk comment.pk %}">
                                                <small class=" link-danger   ">delete </small>
                                            </a>
                                        {% endif %}

                                    {% endif %}


                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
