{% extends "mainPage.html" %}
{% block title %}
    Podgląd Postu
{% endblock %}

{% block content %}
    <div class="container ">
        <div class="w-25 mt-3">
            <a href="{% url 'feed:followers-posts' %}" class="btn btn-outline-secondary mt-2 "> Powrót </a>
        </div>
        <div class=" col-md-12  mt-3 mx-auto  ">

            {% if post.postImages %}

                <div class="card   col-md-4 float-end bg-white  overflow-auto " style=" height:250px;">

                    <div class="  text-start card-body">
                        <p class="   mt-4 ">
                            {{ post.postContent }}
                        </p>

                    </div>
                </div>
                <div class="border-bottom   bg-light border col-md-8  ">
            {% else %}
                <div class="border-bottom   bg-light border col-md-7  mx-auto">
            {% endif %}



            <div class="dropdown  m-2">
                <a class="text-decoration-none fw-bold   text-capitalize text-secondary "
                   href="{% url 'userProfile' post.postAuthor.profile.pk %}">
                    <strong class="link-primary">
                        {{ post.postAuthor.get_full_name }} </strong></a> <em
                    class="text-secondary fw-light"> {{ post.postDate }}</em>

                {% if request.user == post.postAuthor %}

                    <button type="button" class=" btn" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul class="dropdown-menu ">
                        <li>
                            <a class="dropdown-item   link-success" href="{% url 'feed:update-post' post.pk %}">
                                <i class="far fa-edit "></i> Edit</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item fw-normal link-danger"
                               href="{% url 'feed:delete-post' post.pk %}">
                                <i class="fas fa-trash-alt    "></i> Delete</a>
                        </li>
                    </ul>
                    </div>
                {% endif %}
            </div>

            <div class=" card    bg-white text-start    " style="min-height:150px; max-height:799px;">
                <div class=" card border-0 ">
                    {% if post.postImages %}
                        <img src="{{ post.postImages.url }}" alt="img">
                    {% else %}
                        {{ post.postContent }}
                    {% endif %}
                </div>

            </div>
            <div class="m-2">
                <form action="{% url 'feed:like-post' post.pk %}" method="post">
                    {% csrf_token %}
                    {% if ifLiked %}
                        <button type="submit" name="post.pk" value="{{ post.pk }}"
                                class="btn btn-outline-secondary  "><i class="fas fa-heart-broken"></i>
                            {% with allLikes=post.postLikes.count %}
                                {{ allLikes }}
                            {% endwith %}
                        </button>

                    {% else %}

                        <button type="submit" name="post.pk" value="{{ post.pk }}"
                                class="btn btn-outline-danger"><i class="fas fa-heart"></i>
                            {% with allLikes=post.postLikes.count %}
                                {{ allLikes }}
                            {% endwith %}
                        </button>

                    {% endif %}
                </form>

            </div>
            </div>
        </div>


        <div class=" row justify-content-center   mt-3 mb-5">
            <div class=" col-md-3">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="">
                        <button class="btn btn-outline-success fw-bold mt-2">Dodaj Komentarz</button>
                    </div>
                </form>

            </div>
        </div>

        <div class=" row mb-4">
            {% for comment in comments %}


                <div class="col-md-5 card mx-auto  ">
                    <div class=" mt-2 link ">
                        <a class=" text-decoration-none text-capitalize mx-3"
                           href="{% url 'userProfile' comment.commentAuthor.profile.pk %}">
                            <strong class=" link-primary">
                                {{ comment.commentAuthor.get_full_name }}
                            </strong>
                        </a>

                        {% if request.user == post.postAuthor  and comment.commentAuthor %}
                            <a href="{% url 'feed:delete-comment' post.pk comment.pk %}">
                                <i class="fas fa-trash-alt h6 text-dark "></i>
                            </a>
                        {% else %}
                            {% if request.user == post.postAuthor %}
                                <a href="{% url 'feed:delete-comment' post.pk comment.pk %}">
                                    <i class="fas fa-trash-alt h6 text-dark "></i>
                                </a>
                            {% endif %}
                            {% if request.user == comment.commentAuthor %}
                                <a href="{% url 'feed:delete-comment' post.pk comment.pk %}">
                                    <i class="fas fa-trash-alt h6 text-dark "></i>
                                </a>
                            {% endif %}
                        {% endif %}
                        <em class="text-start text-secondary fw-light float-end ">  {{ comment.commentDate }}</em>
                    </div>


                    <div class="card-body p-2 text-start" style="min-height: 75px ;max-height : 200px">

                            <p class="  ">{{ comment.commentContent }}</p>


                    </div>
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}
