{% extends "mainPage.html" %}

{% block title %}
    Tablica
{% endblock %}


{% block content %}

    <div class="container ">

        <div class="mx-auto bg-white col-md-5    mb-2 ">

            <form class="fw-normal shadow-sm  p-2 mt-2" method="POST" enctype="multipart/form-data">


                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn  fw-bold  btn-outline-primary mb-2 ">Dodaj Post</button>
            </form>
        </div>

        {% for post in followersPosts %}

            <div class="col-md-5  mx-auto card
                    overflow-hidden" style="min-height:150px; max-height:500px">

                <div class="card-header border-0 bg-white">

                    <a href="{% url 'userProfile' post.postAuthor.profile.pk %}">
                        <strong class="link-primary">
                            {{ post.postAuthor.get_full_name }} </strong></a> -
                    <em class="text-secondary "> {{ post.postDate }} </em>

                </div>

                <div class="img-thumbnail position-relative">
                    <div class=" card  border-0  text-start  "
                         style="min-height:150px; max-height:599px;">
                        {{ post.postContent }}

                        {% if post.postImages %}
                            <img src="{{ post.postImages.url }}" alt="img">
                        {% endif %}
                    </div>
                    <a href="{% url 'feed:detail-post' post.pk %}" class="stretched-link"> </a>
                </div>
            </div>

            {% with allLikes=post.postLikes.count %}
                <button class=" disabled fw-bold btn bg-white   col-md-5 text-danger">
                    <i class="fas fa-heart"></i> {{ allLikes }}
                </button>
            {% endwith %}
        {% endfor %}


    </div>
    <footer class="bs-popover-bottom">
        <p class=" font-italic fw-light"><em> © 2020-2021 myBooK Dominik Czarnecki</em></p>
    </footer>
{% endblock %}
