<div class="col-md-10 " >
    <form action="{% url 'feed:like-post' post.pk %}" method="post">
        {% csrf_token %}
        {% if ifLiked %}
            <button type="submit" id="like" name="post.pk" value="{{ post.pk }}"
                    class="btn btn-outline-secondary    "><i class="fas fa-heart-broken"></i>
                {% with allLikes=post.postLikes.count %}
                    {{ allLikes }}
                {% endwith %}
            </button>

        {% else %}

            <button type="submit" id="like" name="post.pk" value="{{ post.pk }}"
                    class="btn btn-outline-danger"><i class="fas fa-heart"></i>
                {% with allLikes=post.postLikes.count %}
                    {{ allLikes }}
                {% endwith %}
            </button>

        {% endif %}
    </form>
</div>

