{% extends "mainPage.html" %}
{% block title %}
    Podgląd Postu
{% endblock %}


{% block content %}
    <div class="container ">
        <div class=" ">
            <div class=" ">
                <div class=" ">
                    <a href="{% url 'feed:allPosts' %}"  class=" btn btn-secondary mt-2 "> Powrót </a>
                </div>
            </div>
        </div>

        <div class="row justify-content-center  mt5 ">
            <div class="col-md-6 border shadow-sm p-4 m-3 rounded">

                <p class="text-capitalize text-secondary">
                    <button class="btn btn-sm ">edytuj</button>
                <button  class="btn btn-sm ">usun</button>
                    <strong>{{ post.user }} </strong> - {{ post.creationDate }}</p>
                <p>{{ post.description }}</p>
            </div>
        </div>


         <div class=" ">
            <form   method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-success fw-bold" >Dodaj Komentarz</button>
            </form>
        </div>

        {% for comment in comments %}
            <div class="border mt-2">
            <p>{{ comment.user }}</p>
            <p>{{ comment.creationDate }}</p>
            <p>{{ comment.comment }}</p>
            </div>
    {% endfor %}

    </div>
{% endblock %}