{% extends "mainPage.html" %}
{% block title %}
    Podgląd Postu
{% endblock %}



{% block content %}
    <div class="container ">
        <div class="row mt-5">
            <div class="col-md-3 col-sm-6">
                <a href="{% url 'feed:allPosts' %}"  class="btn btn-secondary mt-2 "> Powrót </a>
            </div>
        </div>

        <div class="row justify-content-center  mt-3  mb-3">
            <div class="border-bottom col-md-5  col-sm-12 rounded">
                <p class="text-capitalize">
                    <strong class="text-primary h5">{{ post.user }} </strong> - {{ post.creationDate }}
                    {% if request.user == post.user %}
                        <a href="{% url 'feed:updatePost' post.pk %}" ><i class="far fa-edit h5 text-dark m-2"></i></a>
                        <a href="{% url 'feed:deletePost' post.pk %}" ><i class="fas fa-trash-alt h5 text-dark "></i></a>
                    {% endif %}

                <p>
                    {{ post.description }}
                </p>
            </div>
        </div>

         <div class="row justify-content-center mt-3 mb-5">
             <div class="col-md-6 col-sm-12">
                 <form  method="post">
                     {% csrf_token %}
                     {{ form.as_p }}
                     <div class="d-grid gap-2">
                         <button class="btn btn-outline-success fw-bold mt-2" >Dodaj Komentarz</button>
                     </div>
                 </form>
             </div>
         </div>

        {% for comment in comments %}
            <div class="justify-content-center row  mt-3 mb-5 ">
                <div class="col-md-5 col-sm-12  rounded border-bottom ">
                    <p>
                        <strong> {{ comment.user }} </strong> - {{ comment.creationDate }}
                        {% if request.user == comment.user %}
                            <a href="{% url 'feed:deleteComment' post.pk comment.pk %}" ><i class="fas fa-trash-alt h5 text-dark "></i></a>
                        {% endif %}
                    </p>
                    <p>{{ comment.comment }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}