{% extends "mainPage.html" %}
{% block title %}
    Edycja Postu
{% endblock %}


{% block content %}
    <div class="container ">
        <div class=" ">
            <div class=" ">
                <div class=" ">
                    <a href="{% url 'feed:detailPost' object.pk %}"  class=" btn btn-secondary mt-2 "> Powrót Do Postu</a>
                </div>
            </div>
        </div>

         <div class="">
            <form class=" justify-content-center mt-4"   method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" >Zaktualizuj Post</button>
                <br/><br/>
            </form>
        </div>

    </div>
{% endblock %}