{% extends "mainPage.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    Edycja Postu
{% endblock %}


{% block content %}
    <div class="container ">
        <div class=" ">

            <a href="{% url 'feed:detail-post' object.pk %}" class=" btn btn-outline-secondary mt-2 ">
                Powrót Do Postu</a>
        </div>


        <div class="d-flex justify-content-center">
            <form class="   mt-4 col-md-5 " method="post">
                <div class="w-100">
                    {% csrf_token %}

                    <div class="card img-thumbnail">
                        {{ form|crispy }}
                        {% if post.postImages %}
                            <img src="{{ post.postImages.url }}" alt="img">
                        {% endif %}


                    </div>
                </div>
                <button type="submit" class="  btn btn-outline-success w-25  fw-bold  p-2 mb-3  rounded  ">
                    Zaktualizuj
                </button>
                <br/><br/>
            </form>
        </div>

    </div>
{% endblock %}