{% extends 'mainPage.html' %}

{% block title %}
   Utworz Post
{% endblock %}

{% block  content %}
        <h1 class="display-3">Utwórz post</h1>
        <img  alt="" src="{{ request.GET.url }}" class="img-thumbnail">
    <br/>
    <br/>

    <form class=" container w-50 fw-normal border border-2" action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="w-25 btn btn-lg btn-danger fw-normal"  type="submit" value="post">Post </button>
        <br/><br/>
    </form>

{% endblock %}
